.nav-item {
    display: flex;
    align-items: center;
  }
  
  .user-profile img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
    border-radius: 50%; /* Make the image circular */
  }
  
  .nav-link {
    /* Your nav-link styles */
  }
  