


  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #555;
  }
  
  /* Testimonial styles */
  .blockquote-footer {
    margin-top: 10px;
    color: #777;
  }
  
  /* Footer styles */
  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  