
div {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color:aquamarine;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  span {
    color: black;
    font-style: italic;
  }
  .address{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color:aquamarine;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  